body{
    margin: 0;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;

    display:flex;
    justify-content: space-between;

    height: 80px;

}

.nav_black {
    background-color: #111;
}

.nav_logo{
    position: absolute;
    left: 20px;
    width: 300px;

}

.nav_avatar{
    position: fixed;
    width: 80px;
    right: 20px;

}